
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100KB
      max-request-size: 100KB
      location: ${java.io.tmpdir}
  datasource:
    url: jdbc:h2:tcp://localhost/~/querydsl
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
  thymeleaf:
    cache: false

  profiles:
    active: local

logging.level:
  org.hibernate.SQL: debug
server:
  port: 80
#  org.hibernate.type: trace