<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/layout :: setContent(~{this::content} )}">

<th:block th:fragment="content">
    <h1> member Create</h1>
    <form th:action="@{/member}" method="POST" id="createForm" th:object="${memberSaveRequestDto}">
        <div class="input-group">
            <input class="form-control" name="username" th:field="*{username}"
                   th:placeholder="이름" th:class="${#fields.hasErrors('username')} ? 'error'">
            <div th:if="${#fields.errors('username')}">
                <p th:text="${msg}"></p>
            </div>
            <br><br>
            <input class="form-control" name="age" th:field="*{age}"
                   th:placeholder="나이" th:class="${#fields.hasErrors('age')} ? 'error'" >
            <div th:if="${#fields.errors('age')}">
                <p th:errors="*{age}"></p>
            </div>

            <div class="input-group-append" id="button-addon4" >
                <button class="btn btn-outline-secondary btn-create" type="button">등록</button>
            </div>
        </div>
    </form>

<!--    <form th:action="@{/member}" method="POST" id="createTeam" th:object="${memberSaveRequestDto}">-->
<!--        <span> 팀 이름</span>-->
<!--        <input th:type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'error'" />-->
<!--        <div th:if="${#fields.errors('username')}">-->
<!--            <p th:text="${msg}"></p>-->
<!--        </div>-->

<!--        <span> 나이</span>-->
<!--        <input th:type="text" th:field="*{age}" th:class="${#fields.hasErrors('age')} ? 'error'" />-->
<!--        <div th:if="${#fields.errors('age')}">-->
<!--            <p th:errors="*{age}"></p>-->
<!--        </div>-->

<!--        <input type="submit" value="제출" />-->
<!--    </form>-->

    <script th:inline="javascript">
        $('.btn-create').click(function(e){
            createForm.submit();
        });
    </script>
</th:block>
</html>