<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/fragments/layout :: setContent(~{this::content} )}">


    <th:block th:fragment="content">

            <h1>Main Content Page</h1>

        <form action="/main" method="get" id="searchForm">
            <div class="input-group">
                <input class="form-control" name="username" th:value="${MemberSearchCondition.username}" th:placeholder="멤버이름">
                <input class="form-control" name="teamName" th:value="${MemberSearchCondition.teamName}" th:placeholder="팀이름">
                <input class="form-control" name="ageGoe" th:value="${MemberSearchCondition.ageGoe}" th:placeholder="0살이상">
                <input class="form-control" name="ageLoe" th:value="${MemberSearchCondition.ageLoe}" th:placeholder="100살이하">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">username</th>
                <th scope="col">age</th>
                <th scope="col">teamId</th>
                <th scope="col">teamName</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dto : ${result.dtoList}" >
                <th scope="row">
                        [[${dto.memberId}]]
                </th>
                <td>[[${dto.username}]]</td>
                <td>[[${dto.age}]]</td>
                <td>[[${dto.teamId}]]</td>
                <td>[[${dto.teamName}]]</td>
            </tr>

            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item " th:if="${result.prev}">
                <a class="page-link"
                   th:href="@{/main(page= ${result.start -1}
                   ,size=${10},
                   username=${MemberSearchCondition.username},
                   teamName=${MemberSearchCondition.teamName},
                   ageGoe=${MemberSearchCondition.ageGoe},
                   ageLoe=${MemberSearchCondition.ageLoe}
                   )}"
                   tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link"
                   th:href="@{/main(page = ${page},size=${10},
                   username=${MemberSearchCondition.username},
                   teamName=${MemberSearchCondition.teamName},
                   ageGoe=${MemberSearchCondition.ageGoe},
                   ageLoe=${MemberSearchCondition.ageLoe}
                   )}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/main(page= ${result.end + 1}
                ,size=${10},
                   username=${MemberSearchCondition.username},
                   teamName=${MemberSearchCondition.teamName},
                   ageGoe=${MemberSearchCondition.ageGoe},
                   ageLoe=${MemberSearchCondition.ageLoe}
                )}">
                    Next
                </a>
            </li>

        </ul>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>[[${msg}]]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            var msg=[[${msg}]];
            console.log(msg);

            if(msg)
            {
                let modal = $(".modal");
               modal.modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e){

                searchForm.submit();

            });

            $('.btn-clear').click(function(e){

                searchForm.empty().submit();

            });


        </script>
    </th:block>


</th:block>